

.col-md-2 a {
    list-style-type: none;
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 600;
}
.col-md-2 span {
    color:#7952b3;
    font-size: 17px;
}
.col-md-2 a:hover{
    opacity: 0.5;
    color:black
}

.row img {
    width: 15%;
}

.btn-hover {
    margin: 20px;
    min-width: 160px;
    margin-top: px;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    
}

.btn-hover:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}
.btn-hover.color-2 {
    background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}