
.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
   
}
.container  h1{
 font-family:'Oswald', sans-serif;
    font-size: 30px;
    font-weight: 600;
}
.text-content {
   display: flex; 
   flex-direction: column;   
}
.text-content h2{
    font-size: 30px;
    font-weight: 600;
}
.text-content p{
    font-size: 20px;
}

.container-img img {
 width:80%;
   
}
.col-sm {
    display: flex;
}

.col-sm p{
    font-size: 25px;
}

svg {
    width: 50px;
    height: 50px;
}